.fade-in-section {
	opacity: 0;
	transform: translateY(20vh);
	visibility: hidden;
	transition: opacity 1200ms ease-out, transform 600ms ease-out,
		visibility 1200ms ease-out;
	will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
	opacity: 1;
	transform: none;
	visibility: visible;
}

.main-body {
	width: 100%;
	height: 101vh;
	position: relative;
	display: flex;
	background-color: white;
}

.main-content {
	background-color: #1b2a2f;
}

.main-content2 {
	background: white;
}

.video-content {
	width: 100%;
	height: 100%;
}

.button-slide {
	position: absolute;
	top: 30vh;
	border: 2px solid slategray;
	border-radius: 0px;
	padding: 18px 36px;
	display: inline-block;
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 14px;
	letter-spacing: 1px;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 slategray;
	-webkit-transition: ease-out 0.9s;
	-moz-transition: ease-out 0.9s;
	transition: ease-out 0.9s;
	z-index: 999;
}

.slide-left:hover {
	box-shadow: inset 0 0 0 50px slategray;
}

.title-box {
	top: 25%;
	position: absolute;
	width: 45%;
	height: 187px;
	margin-left: 20%;
	max-width: 48%;
	min-width: 0;
}

.text-title {
	width: 100%;
	color: #fff;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 3.5rem;
	line-height: 1;
	transition: all 0.2s ease-in-out;
	margin: 0;
}

.info-box {
	text-align: center;
	padding: 50px;
}

.text-info {
	width: 100%;
	color: #fff;
	font-family: sans-serif;
	font-weight: 600;
	font-size: 35px;
	line-height: 1;
	transition: all 0.2s ease-in-out;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text-title::before {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	background: none;
	animation: leftright 5s linear;
}

.text-sub {
	color: #fff;
	font-family: sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	margin: 0;
}

.flex {
	display: flex;
}

.black {
	color: black;
}

.padding {
	padding: 40px;
}

.bytron-img {
	width: 55%;
	border-radius: 35px;
	box-shadow: -20px 20px 60px;
}

.img-examples {
	width: 48%;
	margin: 10px;
}

a {
	color: white;
}

@media screen and (max-width: 1024px) {
	.text-title {
		font-size: 2.5rem;
	}
	.bytron-img {
		width: 100%;
	}
	.info-box {
		flex-direction: column;
	}
}
@media screen and (max-width: 1024px) {
	.text-title {
		font-size: 2.5rem;
	}

	.img-examples {
		width: auto;
	}
}

@media screen and (max-width: 812px) {
	.button-slide {
		padding: 18px 0px;
		top: 40vh;
	}
}

@media screen and (max-width: 375px) and (max-height: 812px) {
	.text-title {
		font-size: 1.5rem;
	}
	.text-sub {
		font-size: 0.8rem;
	}
	.nav ul li {
		font-size: 1rem;
	}
	.button-slide {
		padding: 18px 0px;
		top: 40vh;
	}
	.title-box {
		margin-left: 15%;
		max-width: 100%;
		width: 80%;
	}
}
@media screen and (max-width: 812px) and (max-height: 375px) {
	.text-title {
		font-size: 1.5rem;
	}
	.text-sub {
		font-size: 0.8rem;
	}
	.nav ul li {
		font-size: 1rem;
	}
	.button-slide {
		padding: 18px 0px;
		top: 40vh;
	}
	.title-box {
		margin-left: 15%;
		max-width: 100%;
		width: 80%;
	}
}

@media screen and (max-width: 414px) and (max-height: 736px) {
	.text-title {
		font-size: 1.5rem;
	}
	.text-sub {
		font-size: 0.8rem;
	}
	.nav ul li {
		font-size: 1rem;
	}
	.button-slide {
		padding: 18px 0px;
		top: 40vh;
	}
	.title-box {
		margin-left: 15%;
		max-width: 100%;
		width: 80%;
	}
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.title-box {
		margin-left: 18%;
		max-width: 100%;
		width: 80%;
	}
}

/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}
